input,select,.btin{
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: rgb(84 105 212 / 0.5);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}
.testbtn{
    
    outline-color: rgb(84 105 212 / 0.5);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px;

}

  
  .AllFields{
    align-items: center;
  }
  .field{
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	padding: 3px;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
  margin-top: 10px;
 
}
label{
    padding: 3px;
	font-size: 1.1rem;
}
.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}
.testbtn{
	font-size: 16px;
    line-height: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
	padding: 0.5rem 1rem;
	background-color: #08dbba;
	color: #fff;
	cursor: pointer;
	transition: .3s;

}
